@mixin fontType($weight, $size, $color){
    font-family: Montserrat;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    color: $color;
}
#LandSection{
    .content{
        position: relative;
        background-color: red;
        margin-top: 100px;
        width: 92%;
        margin: 0 auto;
        .text{
            position: absolute;
            top: 20%;
            & > *:nth-child(1){
                @include fontType(400, 40px, #fff);
                
            }
             & > *:nth-child(2){
                 @include fontType(700, 60px, #fff);

             }
            & > *:nth-child(3){
                @include fontType(400, 16px, #31546D);
                width: 70%;
                margin: 30px 0;
             }
            & > *:nth-child(4){
                background: linear-gradient(90deg, #FFFFFF 0%, #F1FAFF 100%);
                box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
                border-radius: 18px;
                @include fontType(bold, 16px, #6F6F6F);
                border: 0;
                width: 180px;
                height: 56px;
            }
        }
    }
}