.navbar{
    width: 100%;
    height: 100px;
    background: transparent;
}
#LandSection{
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url(../img/BackGroun.png);
    background-size: cover;
    background-repeat: no-repeat;
    .navbar{
        height: 100px;
        display: flex;
        align-items: center;
        .nav{
           width: 95%;
           display: flex;
           justify-content: space-between;
           margin: 0 auto;
           &_brand{
               display: flex;
               font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: white;
                .letters{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    p{
                        margin-left: 5px;
                    }
                }

           }
           .info{
               display: flex;
               button{
                   background: linear-gradient(90deg, #FFFFFF 0%, #F1FAFF 100%);
                   box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
                   border-radius: 18px;
                   font-family: Montserrat;
                   font-style: normal;
                   font-weight: bold;
                   font-size: 16px;
                   line-height: 24px;
                   text-align: center;
                   color: #6F6F6F;
                   width: 180px;
                   height: 56px;
                   border: 0;
                   filter: drop-shadow(0px 4px 50px rgba(77, 107, 185, 0.15));
               }
               nav{
                   margin-right: 50px;
                   ul{
               display: flex;
               height: 100%;
               align-items: center;
               li{
                   list-style: none;
                   margin-left: 45px;
                   font-family: Montserrat;
                   font-size: 16px;
                   font-style: normal;
                   font-weight: 500;
                   line-height: 30px;
                   letter-spacing: 0em;
                   text-align: left;
                   color: white;
               }
           }
               }
               
           }
           
        }
    }
    & > svg{
         position: absolute;
       bottom: 0;
       width: 100%;
       height: auto;
       z-index: 99;
    }
}
